USE [master]
GO
/****** Object:  Database [PRN211_1]    Script Date: 1/14/2025 8:17:21 AM ******/
CREATE DATABASE [PRN211_1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PRN211_1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\PRN211_1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PRN211_1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\PRN211_1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PRN211_1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PRN211_1]
GO
/****** Object:  Table [dbo].[Department]    Script Date: 1/14/2025 8:17:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department](
	[id] [nvarchar](10) NOT NULL,
	[name] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_Department] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 1/14/2025 8:17:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[id] [int] NOT NULL,
	[name] [nvarchar](30) NOT NULL,
	[gender] [bit] NOT NULL,
	[departId] [nvarchar](10) NOT NULL,
	[dob] [date] NULL,
	[gpa] [float] NOT NULL,
 CONSTRAINT [PK_Student] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Department] ([id], [name]) VALUES (N'AI', N'Trí tuệ nhân tạo')
INSERT [dbo].[Department] ([id], [name]) VALUES (N'BA', N'Quản trị kinh doanh')
INSERT [dbo].[Department] ([id], [name]) VALUES (N'En', N'Ngôn Ngữ Anh')
GO
INSERT [dbo].[Student] ([id], [name], [gender], [departId], [dob], [gpa]) VALUES (6, N'Nóng như lửa', 0, N'SE', CAST(N'2001-02-28' AS Date), 6)
INSERT [dbo].[Student] ([id], [name], [gender], [departId], [dob], [gpa]) VALUES (7, N'Lạnh Như Băng', 1, N'AI', CAST(N'2001-04-25' AS Date), 8)
INSERT [dbo].[Student] ([id], [name], [gender], [departId], [dob], [gpa]) VALUES (8, N'TChu DE', 1, N'AI', CAST(N'2023-06-02' AS Date), 3)
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD  CONSTRAINT [FK_Student_Department] FOREIGN KEY([departId])
REFERENCES [dbo].[Department] ([id])
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [FK_Student_Department]
GO
USE [master]
GO
